# Source rust files for reference.
table_const.rs

# Value, Hash csv file
ParamLabels.csv

# Sparse checkout for dumped scripts.
SSBU-Dumped-Scripts
SSBU-Dumped-Motion-Lists

# Submodules (just in case)
skyline-rs-template

# Ignoring personal files for development
.python-version
pyrightconfig.json

# Don't check in your mod into this repo accidentally...
dev/src/*
!dev/src/lib.rs
