---
# Store all of your variables here for the dev/Taskfile.yml
version: '3'
vars:
    NRO_DEPLOY_DIR: "/path/to/sd_card/atmosphere/plugins"
    # Where to move the built .nro file after compilation.
tasks:
    # Will remain empty.
